.container {
  width: 80%;
  margin: auto;
  font-family: Arial, sans-serif;
}

.container h1 {
  font-size: 1.5rem;
  margin: 20px 0;
}

.camping {
  display: flex;
  margin-bottom: 20px;
}

.camping-info-img {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.camping-info {
  flex: 1;
}

.camping-info-category {
  font-size: 0.8rem;
  color: #666;
}

.camping-info-title {
  font-size: 1.8rem;
  margin: 10px 0;
}

.camping-info-address,
.camping-info-phone {
  margin-bottom: 5px;
}

.camping-info-intro,
.camping-info-description {
  margin: 10px 0;
}

.camping-category {
  display: flex;
  align-items: center;
}

.category-info {
  display: flex;
  align-items: center;
}

.camping-category-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.facility-info {
  margin-bottom: 20px;
}

.facility-info h4 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.amenities-info,
.doing-info,
.circumstance-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.amenity-item,
.doing-info,
.circumstance-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.amenity-icon,
.doing-category,
.circumstance-category {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.manner-time {
  margin-top: 10px;
}

.user-info {
  margin-bottom: 20px;
}

.people-num {
  margin-top: 10px;
}

.site-type {
  display: flex;
  flex-wrap: wrap;
}

.site {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.site-img {
  width: 235px; /* 수정된 사이즈에 맞게 설정 */
  height: 203px; /* 수정된 사이즈에 맞게 설정 */
  margin-right: 20px;
}

.site-info {
  flex: 1;
}

.site-category {
  font-size: 0.8rem;
  color: #666;
}

.site-name {
  font-size: 1.2rem;
  margin: 5px 0;
}

.checkin-time,
.checkout-time,
.max-people,
.site-price {
  margin: 5px 0;
}

.site-status {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

.review-status {
  margin-bottom: 20px;
}

.review {
  margin-bottom: 10px;
}

.review-img {
  width: 168px;
  height: 98px;
  margin-right: 10px;
}

.user-info {
  font-weight: bold;
  margin-bottom: 5px;
}

.review-title {
  font-size: 1.2rem;
  margin: 5px 0;
}

.review-content {
  margin: 5px 0;
}

hr {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
